/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
/*p,*/
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: Make-Do;
    src: url('webfonts/Make_Do-Master-20150817.otf');
}

body {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 22px;
    line-height: 28px;
    font-family: Make-Do;
    letter-spacing: 0.5px;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}



/*------------------------------------------------------
################### Begin Styling ######################
-------------------------------------------------------*/


#text-container{
    position: relative;
    height: 100%;
    width: 618px;
    margin: 0 auto;
}

.large-text{
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
}

.small-text{
    font-size: 18px;
    letter-spacing: 0px; 
}

.underline{
    border-bottom: 2px solid #000;
    /*text-decoration: underline;*/
        cursor: pointer;

}

.footnote-text {
    font-size: 15px;
    letter-spacing: 0.5px;
    position: relative;
    top: -8px;
    padding-left: 1px;
}
.chapter-spacing {
padding-top: 57px;
    padding-bottom: 40px;
}

#chapter-1-heading {
    padding-top: 47px;
}

#chapter-6{
    padding-bottom: 40px;
}


.close-image{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/Crosshair-Black.png");
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}




img.landscape {
    width: 100%;
}
img.portrait{
    height: 100%;
}

.image-container{
    max-width: 800px;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    position: fixed;
}


/*------------------------------------------------------
################### Three Images ######################
-------------------------------------------------------*/

.extended{
    max-width: 1200px !important;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.image-1{
    width: 33%;
    height: auto;
}
.image-2{
    width: 33%;
    height: auto;
}
.image-3{
    width: 33%;
    height: auto;
}